<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text" >Empleado</li>
        <li><a href="{% url 'persona_app:inicio_empleado' %}">Inicio</a></li>
        <li>
          <a href="{% url 'persona_app:empleados_all' %}">Listar</a>
          
        </li>
        <li><a href="{% url 'departamento_app:new_departamento' %}">Nuevo Departamento</a></li>
        <li><a href="{% url 'departamento_app:departamentos' %}">Departamentos</a></li>
        <li><a href="{% url 'persona_app:empleados_admin' %}">Administrar</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        
        <li><a href="{% url 'persona_app:nuevo_empleado' %}" class="button">Registrar Nuevo</a></li>
      </ul>
    </div>
  </div>